<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <h1>Welcome New User</h1>
</head>
<body>
<div>
    <form method="post">
        <label>NAME</label><br>
        <input type="text" name="one" id="name"><br><br>
        <label>EMAIL</label><br>
        <input type="email" name="two" id="username"><br><br>
        <label>PASSWORD</label><br>
        <input type="password" name="three" id="password"><br><br>
        <input type="submit" value="Create User">
    </form>
</div>

</body>
</html>